<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pears.asa.dao.CourseStudentDao">

    <insert id="selectCourse" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO course_student
        (course_id, select_user_id
        <if test="createDate !='' and createDate !=null">
            , create_date
        </if>

        <if test="isPay !='' and isPay !=null">
            , is_pay
        </if>
        <if test="payNum !='' and payNum !=null">
            , pay_num
        </if>
        <if test="comment !='' and comment !=null">
            , comment
        </if>
        <if test="courseDate !='' and courseDate !=null">
            , course_date
        </if>
        ) VALUES
            ( #{courseId}, #{selectUserId}

        <if test="createDate !='' and createDate !=null">
            , #{createDate}
        </if>

        <if test="isPay !='' and isPay !=null">
            , #{isPay}
        </if>
        <if test="payNum !='' and payNum !=null">
            , #{payNum}
        </if>
        <if test="comment !='' and comment !=null">
            , #{comment}
        </if>
        <if test="courseDate !='' and courseDate !=null">
            , #{courseDate}
        </if>
        )
    </insert>

    <select id="countCourse" resultType="Integer">
        SELECT count(0)
        FROM course_student w
        WHERE w.delete_status = '1'
        <if test="selectUserId !='' and selectUserId !=null">
            AND w.select_user_id = #{selectUserId}
        </if>
        <if test="courseId !='' and courseId !=null">
            AND w.course_id = #{courseId}
        </if>
    </select>

    <select id="listCourse" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        w.id id,
        w.course_id courseId,
        w.select_user_id selectUserId,
          date_format(w.create_date, '%Y.%m.%d %T') createDate,
          date_format(w.update_date, '%Y.%m.%d %T') updateDate,

        u.content content,
        u.brief,
        u.capacity,
        w.course_date courseDateStudent,
        u.tuition,
        s.nickname,
        u.grade,
        u.tuition_type tuitionType,
        u.final_tuition finalTuition,
        sys_attach.origin_fileName originFileName,
        sys_attach.id attachId,
        sys_attach2.origin_fileName originFileNameStu,
        sys_attach2.id attachIdStu
        FROM course_student w
          LEFT JOIN course_teacher u ON w.course_id = u.id
          LEFT JOIN sys_user s ON u.create_user = s.id
          left JOIN sys_attach on u.id= sys_attach.business_id and sys_attach.type='course-teacher'
          left JOIN sys_attach sys_attach2 on w.id= sys_attach2.business_id and sys_attach2.type='course-student'
        WHERE w.delete_status = '1'

        <if test="selectUserId !='' and selectUserId !=null">
            AND w.select_user_id = #{selectUserId}
        </if>
        <if test="courseId !='' and courseId !=null">
            AND w.course_id = #{courseId}
        </if>
              ORDER BY w.id DESC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <update id="updateCourse" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE course_student
           SET id = id
        <if test="comment !='' and comment !=null">
            , comment = #{comment}
        </if>
        <if test="deleteStatus !='' and deleteStatus !=null">
            , delete_status = #{deleteStatus}
        </if>
        <if test="isPay !='' and isPay !=null">
            , is_pay = #{isPay}
        </if>
        <if test="courseDate !='' and courseDate !=null">
            , course_date = #{courseDate}
        </if>
        <if test="financeIsPay !='' and financeIsPay !=null">
            , finance_is_pay = #{financeIsPay}
        </if>
        WHERE id = #{id}
    </update>

    <select id="countStudentDetail4Teacher" resultType="Integer">
        select count(0) from course_student
        LEFT JOIN course_teacher on course_student.course_id = course_teacher.id
        where course_teacher.id = #{courseId} and course_student.delete_status = '1'
    </select>

    <select id="listStudentDetail4Teacher" resultType="com.alibaba.fastjson.JSONObject">
        select sys_user.nickname,sys_user.nickname_cn,course_student.is_pay,course_student.course_date from course_student
          LEFT JOIN course_teacher on course_student.course_id = course_teacher.id
          LEFT JOIN sys_user on sys_user.id=course_student.select_user_id
        where course_teacher.id = #{courseId} and course_student.delete_status = '1'
        order by course_student.update_date asc

    </select>

</mapper>
