<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pears.asa.dao.CourseTeacherDao">

    <insert id="addCourse" parameterType="com.alibaba.fastjson.JSONObject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course_teacher
        (content
        <if test="brief !='' and brief !=null">
            , brief
        </if>
        <if test="capacity !='' and capacity !=null">
            , capacity
        </if>
        <if test="courseDate !='' and courseDate !=null">
            , course_date
        </if>
        <if test="createUser !='' and createUser !=null">
            , create_user
        </if>
        <if test="updateUser !='' and updateUser !=null">
            , update_user
        </if>
        <if test="startDate !='' and startDate !=null">
            , start_date
        </if>
        <if test="endDate !='' and endDate !=null">
            , end_date
        </if>
        <if test="teacherType !='' and teacherType !=null">
            , teacher_type
        </if>
        <if test="grade !='' and grade !=null">
            , grade
        </if>
        <if test="tuitionType !='' and tuitionType !=null">
            , tuition_type
        </if>
        <if test="tuitionType !='' and tuitionType !=null and tuitionType == 'fee' and tuition !='' and tuition !=null">
            , tuition
        </if>
        <if test="tuitionType !='' and tuitionType !=null and tuitionType == 'fee' and tuitionSubType !='' and tuitionSubType !=null">
            , tuition_sub_type
        </if>
        <if test="finalTuition !='' and finalTuition !=null">
            , final_tuition
        </if>
        <if test="teacherName !='' and teacherName !=null">
            , teacher_name
        </if>
        ) VALUES
            ( #{content}
        <if test="brief !='' and brief !=null">
            , #{brief}
        </if>
        <if test="capacity !='' and capacity !=null">
            , #{capacity}
        </if>
        <if test="courseDate !='' and courseDate !=null">
            , #{courseDate}
        </if>
        <if test="createUser !='' and createUser !=null">
            , #{createUser}
        </if>
        <if test="updateUser !='' and updateUser !=null">
            , #{updateUser}
        </if>
        <if test="startDate !='' and startDate !=null">
            , #{startDate}
        </if>
        <if test="endDate !='' and endDate !=null">
            , #{endDate}
        </if>
        <if test="teacherType !='' and teacherType !=null">
            , #{teacherType}
        </if>
        <if test="grade !='' and grade !=null">
            , #{grade}
        </if>
        <if test="tuitionType !='' and tuitionType !=null">
            , #{tuitionType}
        </if>
        <if test="tuitionType !='' and tuitionType !=null and tuitionType == 'fee' and tuition !='' and tuition !=null">
            , #{tuition}
        </if>
        <if test="tuitionType !='' and tuitionType !=null and tuitionType == 'fee' and tuitionSubType !='' and tuitionSubType !=null">
            , #{tuitionSubType}
        </if>
        <if test="finalTuition !='' and finalTuition !=null">
            , #{finalTuition}
        </if>
        <if test="teacherName !='' and teacherName !=null">
            , #{teacherName}
        </if>
        )
    </insert>

    <select id="countCourse" resultType="Integer">
        SELECT count(0)
        FROM course_teacher w
        WHERE w.delete_status = '1'
        <if test="content !='' and content !=null">
            AND w.content like concat(concat('%',#{content}),'%')
        </if>
        <if test="author !='' and author !=null">
            AND w.teacher_name = #{author}
        </if>
        <if test="studentCanPick !='' and studentCanPick !=null">
            and w.status = 'publish' and w.id not in (select course_id from course_student where select_user_id = #{studentCanPick} and delete_status = '1')
        </if>
        <if test="idNotEqual !='' and idNotEqual !=null">
            AND w.id  &lt;&gt; #{idNotEqual}
        </if>
        <if test="courseDateArr !=null">
            AND (
            <foreach collection="courseDateArr" item="item" index="index" separator=" or ">
                FIND_IN_SET(#{item},course_date)
            </foreach>
            )
        </if>
        <if test="studentGradeFilter !='' and studentGradeFilter != null">
            AND w.grade like concat(concat('%',#{studentGradeFilter}),'%')
        </if>
    </select>

    <select id="listCourse" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        w.id id,
        w.content content,
          date_format(w.create_time, '%Y.%m.%d %T') createTime,
          date_format(w.update_time, '%Y.%m.%d %T') updateTime,
          u.nickname,
          u.id teacherName,
          w.brief,
          w.capacity,
          w.course_date courseDate,
          w.tuition,
          w.create_user,
          w.update_user,
          w.grade,
          w.tuition_type tuitionType,
          w.tuition_sub_type tuitionSubType,
          w.final_tuition finalTuition,
          w.teacher_type teacherType,
          w.status status,
        w.need_training_aid needTrainingAid,
        w.phone,w.price,w.recommend_brand recommendBrand,
            sys_attach.origin_fileName originFileName,
            sys_attach.id attachId
        FROM course_teacher w
          LEFT JOIN sys_user u ON w.teacher_name = u.id
          left JOIN sys_attach on w.id= sys_attach.business_id and sys_attach.type='course-teacher'

        WHERE w.delete_status = '1'
        <if test="content !='' and content !=null">
            AND w.content like concat(concat('%',#{content}),'%')
        </if>
        <if test="courseDate !='' and courseDate !=null">
            AND w.course_date like concat(concat('%',#{courseDate}),'%')
        </if>
        <if test="author !='' and author !=null">
            AND w.create_user = #{author}
        </if>
        <if test="studentCanPick !='' and studentCanPick !=null">
            and w.status = 'publish' and w.id not in (select course_id from course_student where select_user_id = #{studentCanPick} and delete_status = '1' )
        </if>
        <if test="studentGradeFilter !='' and studentGradeFilter != null">
            AND w.grade like concat(concat('%',#{studentGradeFilter}),'%')
        </if>
        <if test="offSet !='' and offSet !=null and pageRow !='' and pageRow !=null">
            LIMIT #{offSet}, #{pageRow}
        </if>

    </select>

    <update id="updateCourse" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE course_teacher
           SET id = id
        <if test="content !='' and content !=null">
            , content = #{content}
        </if>
        <if test="brief !='' and brief !=null">
            , brief = #{brief}
        </if>
        <if test="capacity !='' and capacity !=null">
            , capacity = #{capacity}
        </if>
        <if test="courseDate !='' and courseDate !=null">
            , course_date = #{courseDate}
        </if>
        <if test="createUser !='' and createUser !=null">
            , create_user = #{createUser}
        </if>
        <if test="updateUser !='' and updateUser !=null">
            , update_user = #{updateUser}
        </if>
        <if test="deleteStatus !='' and deleteStatus !=null">
            , delete_status = #{deleteStatus}
        </if>
        <if test="teacherType !='' and teacherType !=null">
            , teacher_type = #{teacherType}
        </if>
        <if test="grade !='' and grade !=null">
            , grade = #{grade}
        </if>

        <if test="tuitionType !='' and tuitionType !=null">
            , tuition_type = #{tuitionType}
        </if>
        <if test="tuitionType !='' and tuitionType !=null and tuitionType == 'fee' and tuition !='' and tuition !=null">
            , tuition = #{tuition}
        </if>
        <if test="tuitionType !='' and tuitionType !=null and tuitionType == 'fee' and tuitionSubType !='' and tuitionSubType !=null">
            , tuition_sub_type = #{tuitionSubType}
        </if>
        <if test="finalTuition !='' and finalTuition !=null">
            , final_tuition = #{finalTuition}
        </if>
        <if test="status !='' and status !=null">
            , status = #{status}
        </if>
        <if test="teacherName !='' and teacherName !=null">
            , teacher_name = #{teacherName}
        </if>

        <if test="needTrainingAid !='' and needTrainingAid !=null">
            , need_training_aid = #{needTrainingAid}
        </if>
        <if test="phone !='' and phone !=null">
            , phone = #{phone}
        </if>
        <if test="price !='' and price !=null">
            , price = #{price}
        </if>
        <if test="recommendBrand !='' and recommendBrand !=null">
            , recommend_brand = #{recommendBrand}
        </if>
        WHERE id = #{id}
    </update>

    <select id="listAllTeacher" resultType="com.alibaba.fastjson.JSONObject">
        select  sys_user.id,
                sys_user.username,
                sys_user.nickname,
                sys_user.nickname_cn,
                sys_user.phone
        from sys_user
          left join sys_role
          on sys_user.role_id=sys_role.id
            WHERE (sys_role.group_tag = 2 or sys_role.group_tag = 0 or group_tag = -1)
            and sys_user.delete_status = 1
            and sys_user.active_status=1;
    </select>
</mapper>
