<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pears.asa.dao.SysDao">

    <select id="listPeriod" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id        id,
            DATE_FORMAT(pick_start_date, '%Y.%m.%d') startDate,
            DATE_FORMAT(pick_end_date, '%Y.%m.%d')   endDate,

            pick_start_date pickStartDate,
            pick_end_date pickEndDate,

            course_start_date teacherStartDate,
            course_end_date   teacherEndDate,

            fee_start_date feeStartDate,
            fee_end_date  feeEndDate,

            finance_start_date financeStartDate,
            finance_end_date  financeEndDate,

            notice_start_date noticeStartDate,
            comments   comments,
            status     status,
            type ,
            CURRENT_DATE curDate
        FROM course_period
        WHERE status='0'
    </select>
    <select id="listSysUserActive" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id        id,
            email     email,
            active_code   activeCode
        FROM sys_user_active
        WHERE active_code=#{activeCode}
    </select>
    <insert id="addPeriod" useGeneratedKeys="true" keyProperty="id">
        insert into course_period (
            type
            ,course_start_date,course_end_date
            ,pick_start_date,pick_end_date
            ,fee_start_date,fee_end_date
            ,finance_start_date,finance_end_date
            ,notice_start_date
        <if test="comments !='' and comments !=null">
            ,comments
        </if>
        )
        values
        (
        #{type}
        ,#{teacherPeriodStartDate},#{teacherPeriodEndDate}
        ,#{studentPeriodStartDate},#{studentPeriodEndDate}
        ,#{feePeriodStartDate},#{feePeriodEndDate}
        ,#{financePeriodStartDate},#{financePeriodEndDate}
        ,#{noticeStartDate}
        <if test="comments !='' and comments !=null">
            ,#{comments}
        </if>
        )
    </insert>
    <update id="deletePeriods">
        update  course_period
        set status = '1'
        <if test="delType !='' and delType !=null">
            , type = #{delType}
        </if>
        where 1=1
        <if test="id !='' and id !=null">
             and id = #{id}
        </if>
    </update>


    <insert id="addAttachment" useGeneratedKeys="true" keyProperty="id" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_attach (
        user_id, location, business_id, origin_fileName
        )
        values
        (
        #{userId},  #{location,jdbcType=VARCHAR},  #{businessId}, #{originFileName}
        )
    </insert>

    <select id="listAttachment" resultType="com.alibaba.fastjson.JSONObject">
        SELECT s.id id, s.location,s.business_id,s.origin_fileName,
        DATE_FORMAT(s.create_date, '%Y.%m.%d') createDate,
        s.type,
        CASE type
        WHEN 'course-teacher' THEN t.content
        WHEN 'course-student' THEN u.nickname
        ELSE '其他' END as content
        FROM sys_attach s left join course_teacher t on t.id = s.business_id
        left join course_student cs on cs.id = s.business_id
        left join sys_user u on cs.select_user_id = u.id
        WHERE 1=1
        <if test="id !='' and id !=null">
            and s.id=#{id}
        </if>

    </select>

    <update id="updateAttachmentBusinessById" >
        update  sys_attach
        set business_id = #{businessId}, type = #{businessType}
        where 1=1
            and id = #{id}
    </update>
    
    <delete id="deleteAttachmentById">
        delete from sys_attach where id = #{id}
    </delete>

</mapper>
