<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pears.asa.dao.SysDao">

    <select id="listPeriod" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id        id,
            DATE_FORMAT(start_date, '%Y.%m.%d') startDate,
            DATE_FORMAT(end_date, '%Y.%m.%d')   endDate,
            comments   comments,
            status     status,
            CURRENT_DATE curDate
        FROM course_period
        WHERE status='0'
    </select>
    <select id="listSysUserActive" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id        id,
            email     email,
            active_code   activeCode
        FROM sys_user_active
        WHERE active_code=#{activeCode}
    </select>
    <insert id="addPeriod" useGeneratedKeys="true" keyProperty="id">
        insert into course_period (start_date, end_date
        <if test="comments !='' and comments !=null">
            ,comments
        </if>
        )
        values
        (#{startDate}, #{endDate}
        <if test="comments !='' and comments !=null">
            ,#{comments}
        </if>
        )
    </insert>
    <delete id="deletePeriods">
        delete from course_period
    </delete>

</mapper>