<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pears.asa.dao.SysDao">

    <select id="listPeriod" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id        id,
            DATE_FORMAT(pick_start_date, '%Y.%m.%d') startDate,
            DATE_FORMAT(pick_end_date, '%Y.%m.%d')   endDate,

            pick_start_date pickStartDate,
            pick_end_date pickEndDate,

            course_start_date teacherStartDate,
            course_end_date   teacherEndDate,

            fee_start_date feeStartDate,
            fee_end_date  feeEndDate,

            finance_start_date financeStartDate,
            finance_end_date  financeEndDate,

            notice_start_date noticeStartDate,
            comments   comments,
            status     status,
            CURRENT_DATE curDate
        FROM course_period
        WHERE status='0'
    </select>
    <select id="listSysUserActive" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id        id,
            email     email,
            active_code   activeCode
        FROM sys_user_active
        WHERE active_code=#{activeCode}
    </select>
    <insert id="addPeriod" useGeneratedKeys="true" keyProperty="id">
        insert into course_period (
            type
            ,course_start_date,course_end_date
            ,pick_start_date,pick_end_date
            ,fee_start_date,fee_end_date
            ,finance_start_date,finance_end_date
            ,notice_start_date
        <if test="comments !='' and comments !=null">
            ,comments
        </if>
        )
        values
        (
        #{type}
        ,#{teacherPeriodStartDate},#{teacherPeriodEndDate}
        ,#{studentPeriodStartDate},#{studentPeriodEndDate}
        ,#{feePeriodStartDate},#{feePeriodEndDate}
        ,#{financePeriodStartDate},#{financePeriodEndDate}
        ,#{noticeStartDate}
        <if test="comments !='' and comments !=null">
            ,#{comments}
        </if>
        )
    </insert>
    <update id="deletePeriods">
        update  course_period
        set status = '1'
        <if test="delType !='' and delType !=null">
            , type = #{delType}
        </if>
        where 1=1
        <if test="id !='' and id !=null">
             and id = #{id}
        </if>
    </update>


    <insert id="addAttachment" useGeneratedKeys="true" keyProperty="id" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_attach (
        user_id, location, business_id, origin_fileName,type
        )
        values
        (
        #{userId},  #{location,jdbcType=VARCHAR},  #{businessId}, #{originFileName}, #{type}
        )
    </insert>

    <select id="listAttachment" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        id        id,
        location,business_id,origin_fileName, DATE_FORMAT(create_date, '%Y.%m.%d') createDate
        FROM sys_attach
        WHERE id=#{id}
    </select>

    <update id="updateAttachmentBusinessById" >
        update  sys_attach
        set business_id = #{businessId}
        where 1=1
            and id = #{id}
    </update>
    
    <delete id="deleteAttachmentById">
        delete from sys_attach where id = #{id}
    </delete>

</mapper>
